.game-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;

  @media #{$tablet} {
    margin-top: 15vh;
    flex-direction: row;
  }
}

.game{
  width: 100%;
  height: 40vh;
    @media #{$tablet} {
      width: 70%;
    }
}

.guessed-word{
  display: flex;
  flex-direction: row;

  .letter{
    border-bottom: 3px solid black;
    width: 5vh;
    padding-bottom: 5px;
    height: 10vh;
    text-align: center;
    margin: 10px;
    position: relative;

    span{
      font-size: 55px;
      user-select: none;
    }

    .hide{
      background-color: $main;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
}

.wrong-letters{
  font-size: 35px;
  margin-top: 50px;

  span{
    margin: 5px;
  }

  .game-message{
    display: block;
    margin-top: 20px;
  }
}
