$main: #F2DD47;

body {
  box-sizing: border-box;
  background-color: $main;
  font-family: 'Caveat Brush', sans-serif;
}

.game-over-bg {
  background-color: #ff6666;
}

.game-win-bg {
  background-color: #48e863;
}

.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
