.hangman {
  width: 250px;
  margin: 30px;
}

.hangman__img-wrapper {
  width: 250px;
  height: 250px;
  overflow: hidden;
  background-image: url('../images/sprite.png');
  background-position: 0 0;
}
